@font-face {
	font-family: "Littlefox";
	font-style: normal;
	font-weight: 400;
	src: url(../Littlefox-Regular.woff2) format("woff2");
}

* {
	margin: 0;
}

body {
	font-family: "Littlefox";
	overflow: hidden;
	zoom: 50%;
}

.image {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
}

.user {
	position: absolute;
}

.avatar {
	border-radius: 999px;
	width: 275px;
	height: 275px;
}

.user.shadow .avatar {
	box-shadow: 0 0 64px #000;
}

.name {
	font-size: 80px;
	color: #fff;
	text-align: center;
	margin-left: -1024px;
	margin-right: -1024px;
	margin-top: 16px;
}

.user.shadow .name {
	text-shadow: 0 0 128px #000, 0 0 64px #000;
}
